

{% block body %}
    <b>Comentarios</b></br>

    {% for c in comentario %}

        <div class ="row">
            <span >{{ c.texto }}</span>
            <span >{{ c.author }}</span>
            <span>{{ c.post }}</span>
            <span>{{ c.updatedAt|date("d/m/y") }}</span>
            {% if (c.author == app.user) or (app.user == c.author) or is_granted('ROLE_ADMIN')%}
                <span> <a class ="fi glyphicon glyphicon-remove" href="{{ path('app_comentarios_remove', {'id' : c.getId }) }}"></a></span>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}