{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <form method="post" action="{{ action }}" novalidate="novalidate"><!-- para evitar la validacion html5 -->

            <div>{{ form_errors(form.titulo) }}{{ form_label(form.titulo) }}: {{ form_widget(form.titulo) }}</div>
            <div>{{ form_label(form.mensaje) }}: {{ form_widget(form.mensaje) }}</div>
            {{ form_rest(form) }}
            <div>
                <button class="btn-basic" type="submit" value="submit">Añadir</button>
            </div>


        </form>
    </div>

{% endblock %}

