{% extends '::base.html.twig' %}

{% block body%}

  <div class="panel-group">
    {% if is_granted('ROLE_USER') %}

      <form method="post" action="{{ path('app_post_insert') }}">
        <button class="btn-primary btn-md" type="submit" value="submit">Nuevo Post</button>
      </form>
    {% endif %}

    <br>
    <div class="panel panel-primary">

      {% for p in posts %}
        <div class="panel-heading">
          <h3 class="panel-title">
            <b>{{ p.titulo }}</b>
          </h3>
          <span>
            <b>Autor:
            </b>
            <i>{{ p.author }}</i>
          </span>
          <span>
            <b>Categoría:
            </b>{{ p.categoria }}</span>
        </div>
        <div class="panel-body ">
          <span>{{ p.mensaje}}</span>

            {% if p.imageFile == null %}
                <p></p>
            {% else %}
                <hr>
                <img src="{{ asset('uploads/media/'~ p.image) }}" class=" img-responsive "><br>
              <a href="{{ asset('uploads/media/'~ p.image) }}" aria-hidden="true"><span class="glyphicon glyphicon-paperclip"></span> {{ p.image }}</a>
            {% endif %}
            {% if p.adjuntoFile == null %}
                <p></p>
            {% else %}
                <hr>
                <a href="{{ asset('uploads/media/'~ p.adjunto) }}" class=" fa fa-paperclip" aria-hidden="true"><span class="glyphicon glyphicon-paperclip"></span> {{ p.adjunto }}</a>
            {% endif %}


          <hr>
          <b>Texto creado:
          </b>
          <span>{{ p.createdAt|date("d/m/Y H:i:s") }}
          </span>
          <b>Texto actualizado:
          </b>
          <span>{{ p.updatedAt|date("d/m/Y H:i:s") }}
          </span>
          <hr>

          <span>
            <a class="btn-info btn-sm" href="{{ path('app_comentarios_new', {'id': p.id}) }}">Crear comentario</a>
          </span>
          {% if app.user == p.author or is_granted('ROLE_ADMIN') %}

            <span>
              <a class="btn-warning btn-sm" href="{{ path('app_post_update', {'id': p.id}) }}">
                Actualizar
              </a>
            </span>

            <span>
              <a class="btn-danger btn-sm" href="{{ path('app_post_remove', {'id': p.id}) }}">
                Borrar
              </a>
            </span>

          {% endif %}
          <hr>
          {{ render(controller('AppBundle:Comentarios:index', {'id': p.id})) }}

        </div>
      {% endfor %}

    </div>
  </div>

  <div class="navigation text-center">
    {{ knp_pagination_render(posts) }}
  </div>

{% endblock %}
