{% extends '::base.html.twig' %}

{% block title %}Lista de Mensajes{% endblock %}

{% block body%}


<div class="panel-group">
    {% if is_granted('ROLE_USER') %}
        <h4 xmlns="http://www.w3.org/1999/html">Nuevo Post</h4>
        <form method="post" action="{{ path('app_post_insert') }}">
            <button class="btn-basic" type="submit" value="submit">Añadir</button>
        </form>
    {% endif %}
    <div class="panel panel-default">
        <br class="panel-body">
        {% for p in posts %}

            <span>{{ p.id }} </span>
            <span><b>Título: </b>{{ p.titulo }}</span>
            <span><b>Autor: </b>{{ p.author }}</span>
            <hr>
            <span><b>Mensaje: </b></br>{{ p.mensaje}}</span><br>

            <span><a class="btn-info btn-xs" href="{{ path('app_comentarios_new', {'id': p.id}) }}">Crear comentario</a></span>
        </br><hr>
                {{ render(controller('AppBundle:Comentarios:index', {'id': p.id})) }}


                <b>Texto creado: </b><td>{{ p.createdAt|date("d/m/Y H:i:s") }} </td>

                <b>Texto actualizado: </b><td>{{ p.updatedAt|date("d/m/Y H:i:s") }} </td>

                {% if app.user == p.author or is_granted('ROLE_ADMIN') %}

                        <td><a class="btn-warning btn-xs" href="{{ path('app_post_update', {'id': p.id}) }}"> Actualizar </a></td>

                        <td><a class="btn-danger btn-xs" href="{{ path('app_post_remove', {'id': p.id}) }}"> Borrar </a> </td>

                {% endif %}
                <hr><br/>
        {% endfor %}
            </tr>
        </div>
    </div>
</div>
{% endblock %}