{% extends '::base.html.twig' %}
{% block body %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="icons" href="#">
          <span><img src="/icons/joystick.png" width="36" height="36" alt="brand"></span>Back2DRoots</a>&nbsp;

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" href="{{ path('app_post_index') }}">
              <span><img src="{{ asset('icons/blinky.png') }}"></span>
              Home</a>&nbsp;</li>
          <li class="nav-item" id="icons">
            <a class="navbar-brand" href="{{ path('app_usuariosRegistrados_index') }}">
              <span><img src="{{ asset('icons/clyde.png') }}"></span>
              Usuarios</a>&nbsp;</li>
          <li class="nav-item" id="icons">
            <a class="navbar-brand" href="{{ path('app_games_index') }}">
              <span><img src="{{ asset('icons/inky.png') }}"></span>
              Games</a>&nbsp;</li>
          <li>
            <form action="" class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar usuarios">
              </div>
              <span>
                <button type="submit" class="btn-basic"><img src="{{ asset('icons/pinky.png') }}">
                  <b>Search</b>
                </button>
              </span>
            </form>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right ">
          <div class="navbar-form navbar-right ">
            {{ render_esi(controller('UserBundle:HoritzontalLogin:horitzontalLogin', {'route': app.request.get('_route')})) }}
          </div>
        </ul>
      </div>
      <!-- /.navbar-collapse -->

    </div>
  </nav>
  <div class="container-fluid">
    <div class="margin-bottom-md">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3>Usuarios registrados</h3>
              <div class="count">

                  total de personas:
                  {{ users.getTotalItemCount() }}
              </div>
            </div>
            <div class="panel-footer">
              <div class="avatar col-md-offset-5">
                {% for u in users %}
                  {% if u.imageFile == null %}
                    <img src="{{ asset('uploads/media/unicorn.png') }}" class=" img-circle img-responsive ">
                  {% else %}
                    <img src="{{ asset('uploads/media/'~ u.image) }}" class=" img-circle img-responsive ">
                  {% endif %}
                    <br>
                    <div class="text-center">
                        <span>{{ u.username }}</span>
                        <hr>
                    </div>

                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation text-center">
      {{ knp_pagination_render(users) }}
    </div>
  </div>
{% endblock %}
